In [1]:
import pandas as pd
import numpy as np
all_matches = pd.read_csv("all_matches.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
all_matches = all_matches[all_matches['ball']<6.0]
all_matches = all_matches[all_matches['innings']<3]
print(all_matches.columns)

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [3]:
batting = all_matches[['match_id','start_date','venue','innings','ball','batting_team','bowling_team','striker','runs_off_bat', 'extras']].copy()
batting['runs'] = batting['runs_off_bat']+batting['extras']
batting.head()

,match_id,start_date,venue,innings,ball,batting_team,bowling_team,striker,runs_off_bat,extras,runs
0,335982,18-04-08,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,0,1,1
1,335982,18-04-08,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,0,0,0
2,335982,18-04-08,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,0,1,1
3,335982,18-04-08,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,0,0,0
4,335982,18-04-08,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,0,0,0

In [4]:
battingGroup = batting.groupby(['match_id','venue','innings','batting_team','bowling_team','striker'],as_index=False)['ball'].count()
battingrun = batting.groupby(['match_id','venue','innings','batting_team','bowling_team','striker'],as_index=False)['runs'].sum()
battingGroup['runs'] = battingrun['runs']
battingGroup.head()

,match_id,venue,innings,batting_team,bowling_team,striker,ball,runs
0,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,22,49
1,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,4,0
2,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,12,12
3,335982,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,CL White,2,1
4,335982,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,JH Kallis,7,9

In [5]:
battingGroup.to_csv('batsman.csv',index=False)

In [6]:
bowling = all_matches[['match_id','venue', 'innings','ball','batting_team', 'bowling_team','bowler','wicket_type', 'player_dismissed']].copy()
bowling['wicket_type'] = bowling['wicket_type'].fillna(0)
# bowling[bowling['wicket_type']!=0]
bowling.loc[(bowling.wicket_type != 0),'wicket_type']=1
bowling.head(2)

,match_id,venue,innings,ball,batting_team,bowling_team,bowler,wicket_type,player_dismissed
0,335982,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,P Kumar,0,NaN
1,335982,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,P Kumar,0,NaN

In [7]:
bowlingGroup = bowling.groupby(['match_id','venue','innings','batting_team','bowling_team','bowler'],as_index=False)['wicket_type'].sum()
ball= bowling.groupby(['match_id','venue','innings','batting_team','bowling_team','bowler'],as_index=False)['wicket_type'].count()
bowlingGroup['balls'] = ball['wicket_type']
bowlingGroup.head()

,match_id,venue,innings,batting_team,bowling_team,bowler,wicket_type,balls
0,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,AA Noffke,0,7
1,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,P Kumar,0,19
2,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,Z Khan,1,12
3,335982,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,AB Agarkar,1,6
4,335982,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,AB Dinda,2,20

In [8]:
bowlingGroup.to_csv('bowling.csv',index=False)

In [10]:
batsmenbowler = all_matches[['striker','bowler','ball','runs_off_bat', 'extras']].copy()
batsmenbowler['runs'] = batsmenbowler['runs_off_bat']+batsmenbowler['extras']

In [11]:
batsmenbowlerGroup = batsmenbowler.groupby(['striker','bowler'],as_index=False)['runs'].sum()
balls = batsmenbowler.groupby(['striker','bowler'],as_index=False)['ball'].count()
batsmenbowlerGroup['balls'] = balls['ball']
batsmenbowlerGroup.head()

          striker         bowler  runs  balls
0  A Ashish Reddy        A Nehra     6      5
1  A Ashish Reddy        J Botha     0      2
2        A Chopra  DP Vijaykumar     1      5
3        A Chopra       DW Steyn     1      4
4        A Chopra     GD McGrath     2      4

In [12]:
batsmenbowlerGroup.to_csv('batsmanbowler.csv',index=False)