In [1]:
import pandas as pd
dataset = pd.read_csv("batsman.csv")
dataset.head(2)

,match_id,venue,innings,batting_team,bowling_team,striker,ball,runs
0,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,22,49
1,335982,M Chinnaswamy Stadium,1,Kolkata Knight Riders,Royal Challengers Bangalore,RT Ponting,4,0

In [2]:
#convert String to int So that we can use to train data 

from sklearn.preprocessing import LabelEncoder
venueEncoder = LabelEncoder()
teamEncoder = LabelEncoder()
strikerEncoder = LabelEncoder()

df2 = dataset.copy()
df2['venue'] = venueEncoder.fit_transform(dataset['venue'])
df2['batting_team'] = teamEncoder.fit_transform(dataset['batting_team'])
df2['bowling_team'] = teamEncoder.fit_transform(dataset['bowling_team'])
df2['striker'] = strikerEncoder.fit_transform(dataset['striker'])

In [3]:
df2.head()

   match_id  venue  innings  batting_team  bowling_team  striker  ball  runs
0    335982     15        1             7            13       37    22    49
1    335982     15        1             7            13      210     4     0
2    335982     15        1             7            13      225    12    12
3    335982     15        2            13             7       53     2     1
4    335982     15        2            13             7       99     7     9

In [4]:
#train dataset 
X_train = df2[['bowling_team','striker']].copy()
#label(which we want to predict)
y_train = df2[['runs']]

In [5]:
# I'm using Random Forest Regressor you can use anyone you like
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(random_state=0)
fitter = regr.fit(X_train,y_train)

ipykernel_launcher:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [6]:
import numpy as np
import joblib
joblib.dump(teamEncoder, 'teamEncoder.joblib')
joblib.dump(strikerEncoder,'strikerEncoder.joblib')
joblib.dump(fitter,'RandomForestRegressor.joblib')

['RandomForestRegressor.joblib']